* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: papayawhip;
}

header {
  width: 100%;
  padding: 30px 1% 10px;
  background-color: #3d3e54;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10000;
}

h1.header {
  margin: 0; padding: 0;
  font-size: 20px;
}

a#header {
  text-decoration: none;
  color: whitesmoke;
  text-align: center;
  display: flex;
  align-items: center;
}

div#title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100px;
  margin: 5px;
}

