* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  z-index: -10;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: papayawhip;
}

header {
  width: 100%;
  padding: 30px 1% 10px;
  background-color: #3d3e54;
  display: flex;
  align-items: center;
  z-index: 10000;
}

h1.header {
  margin: 0; padding: 0;
  font-size: 20px;
}

a#header {
  text-decoration: none;
  color: whitesmoke;
  text-align: center;
  display: flex;
  align-items: center;
}

div#title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100px;
  margin: 5px;
}

nav {
  margin: auto auto auto auto;
}

ul.header-dropmenu {
  list-style: none;
  width: 100%;
  height: 40px;
  margin: 0 auto;
  padding: 0;
  display: table;
  table-layout: fixed;
}

li.menu-item {
  position: relative;
  display: table-cell;
  vertical-align: middle;
}
a.menu-link {
  color: whitesmoke;
  display: block;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
}
ul.menu-sub {
  width: 100%;
  list-style: none;
  position: absolute;
  top: 100%;
  /* left: -1px; */
  margin: 0;
  padding: 0;
  border-top: none;
  display: none;
}

li.menu-sub-item {
  background: gray;
  transition: all .1s ease;
}
ul.header-dropmenu > li:hover {
  background: #808080;
  border-bottom: none;
}
li.menu-sub-item:hover {
  background: #5c5c5c;
}

a.menu-sub-link {
  color: whitesmoke;
  display: block;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
}