.store-card {
    max-width: 650px;
}
.store-image {
    width: 100%;
    height: auto;
}
.rating-stars .fa-star {
    color: #ffdd00; /* 星の色 */
}
.review-quote {
    font-size: 0.9rem;
    font-style: italic;
}
.user-review {
    font-size: 0.8rem;
    color: #888;
}